body {
        /*background: linear-gradient(-45deg, #94908f, #ece8ea, #cfe7f0, #b6cec8);*/
        background-color: black;
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

#interface {
    background-color: rgba(255, 255, 255, 0.521);
    color: rgb(243, 236, 236);
    padding: 20px;
    padding-top : 10px;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    margin : auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.float {
    float: left;
    margin-right: 8px;
    margin-bottom: 0px;
}